// 公共部分代码
.dis-none{
  display:none;
}
.dis-block{
  display:block;
}
.dis-inline{
  display:inline-block;
}


body{
  //background:url("../images/index-bg-24.png") left top no-repeat;
  //background-size: 10rem;
  div{
    background: rgba(215,212,41,0.2);
  }
}
